$HEADER-HEIGHT: 56px;
$FOOTER-HEIGHT: 50px;
$NAVIGATION-HEIGHT: 50px;

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 100vh;

    &__contents{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        width: 100%;
        height: calc(100% - $HEADER-HEIGHT - $NAVIGATION-HEIGHT - $FOOTER-HEIGHT);
        @media ( max-width: 580px ) {
            height: calc(100% - 45px - $NAVIGATION-HEIGHT - 45px);
        }
        
        &__introBox{
            display: flex;
            align-items:  center;
            justify-content: center;
           
           width: 100%;
           height: 40%;

           background-image: url('/images/image-intro.jpg');
           background-size:  cover;
           background-position: 100% 15%;
           
           @media ( max-width: 580px ) {
                height: 30%;
            }

           .wrapper{
                display: flex;
                flex-direction: column;
                max-width: 550px;
                width: 100%;
                padding-inline: 20px;

                &__title{
                    margin-bottom: 4px;
                    color: main.$color-white-000; // CSS COLOR 변수화 작업 설명 예정
                    font-size: 3rem;
                    font-weight: 700;
                    @media ( max-width: 580px ) {
                        font-size: 2rem;
                    }
                }
                &__desc{
                    display: block;
                    color: main.$color-white-000;
                    margin-bottom:32px;
                    @media ( max-width: 580px ) {
                        margin-bottom:10px;
                    }
                }
           }
        }
        &__imagesBox{
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;
            height: 70%;
            flex-wrap: wrap;

            padding: 16px 60px;

            gap: 16px;

            overflow-y: scroll;
        }
    }

}

