.navigation{
   width: 100%;

    &__wrap{
        display: flex;
        max-width: 1110px;
        margin-inline: auto;

        height: 50px;

        gap: 32px;
        padding-inline: 20px;

        white-space: nowrap;
        overflow: hidden;
        overflow-x: auto;

        &__menu{
            position: relative;
            align-content: center;

            height: 100%;

            text-decoration: none; // 추후에 div 태그를 React Router 속성 중 Link 태그로 바꿀 것이기 때문입니다.
            color: main.$color-white-700;
            font-weight: 500;

            &.inacvtive{
                color: main.$color-white-700;
                border-bottom: none;
            }
            &.active{
                color: main.$color-black-900;        
                &::after{
                    content:"";
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    width: 100%;
                    height: 2px;
                    background: main.$color-white-700;
                }
            }
            &:hover{
                color: main.$color-black-900;
                font-weight: 600;
            }
        }
    }
}