.footer{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 56px;

    padding: 0 16px;

    border: 1px solid main.$color-gray-100;
    background-color: main.$color-white-000;

    @media (max-width: 580px) {
         height: 45px;
    }
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    gap:8px;

    @media (max-width:580px) {
        gap:6px;
    }

    &__button{
        display: flex;
        align-items: center;
        justify-content: center;
        
        width: 24px;
        height: 24px;
        padding: 3px 7px;

        color: main.$color-gray-500;

        font-family: 'Public Sans', 'sans-serif';
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;

        background: transparent;
        border: none;
        outline: none;

        cursor: pointer;

        @media (max-width:580px) {
            font-size: 14px;
            line-height: 14px;
        }

        &:hover{
            background-color: main.$color-gray-100;
            border-radius: 4px;

            color: main.$color-black-900;
        }
        &.active{
            background-color: main.$color-gray-100;
            border-radius: 4px;

            color: main.$color-black-900;
        }
        &.incative{
            background-color: main.$color-white-000;
            border-radius: 4px;

            color: main.$color-black-900;
        }
    }
}